<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Face Authenticator</title>

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
	<script src="lib/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="lib/webcam/webcam.min.js"></script>

	<script src="js/main.js"></script>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
	
	
	
	<script src="http://threejs.org/build/three.min.js"></script>
	<script src="http://threejs.org/examples/js/ShaderSkin.js"></script>

	<script src="http://threejs.org/examples/js/shaders/BleachBypassShader.js"></script>
	<script src="http://threejs.org/examples/js/shaders/ConvolutionShader.js"></script>
	<script src="http://threejs.org/examples/js/shaders/CopyShader.js"></script>

	<script src="http://threejs.org/examples/js/postprocessing/EffectComposer.js"></script>
	<script src="http://threejs.org/examples/js/postprocessing/RenderPass.js"></script>
	<script src="http://threejs.org/examples/js/postprocessing/BloomPass.js"></script>
	<script src="http://threejs.org/examples/js/postprocessing/TexturePass.js"></script>
	<script src="http://threejs.org/examples/js/postprocessing/ShaderPass.js"></script>
	<script src="http://threejs.org/examples/js/postprocessing/MaskPass.js"></script>

	<script src="http://threejs.org/examples/js/Detector.js"></script>
	<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div class="container" ng-controller="WelcomeCtrl" ng-cloak>
		<div class="row" ng-if="$root.noLogin">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login" style="padding:20px">
					<h1>Welcome, {{login_username}}!</h1>
					Thanks for stopping by. I hope you enjoy your stay.
					
					<div style="text-align:center; padding:20px;">
						<img src="http://img06.deviantart.net/702e/i/2011/310/a/e/mr__orange_by_karenouyang-d4f998w.png" style="width:40%;">
					</div>
					
					<div style="margin-top:40px;margin-bottom:5px;text-align:center;">
						Ready to go?
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<a href="./">
								<input type="submit" name="register-start" id="register-start" tabindex="4" class="form-control btn btn-register" value="Logout">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" ng-cloak>
		<div class="row" ng-hide="$root.noLogin">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" ng-class="{'active': activeTab === 'LOGIN'}" id="login-form-link" ng-click="showLoginTab()">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" ng-class="{'active': activeTab === 'REGISTER'}" id="register-form-link" ng-click="showRegisterTab()">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
							<!-- alerts -->
								<div id="register-confirm" ng-if="registered" class="alert alert-success">
									<a href="#" class="close" aria-label="close" ng-click="closeRegisteredAlert()">&times;</a>
									<strong>Success!</strong> Thank you for registering, {{registered_username}}.
								</div>
								<div id="register-error" ng-if="registerFailed" class="alert alert-danger">
									<a href="#" class="close" aria-label="close" ng-click="closeRegisterFailedAlert()">&times;</a>
									<strong>Error!</strong> Something went wrong. &#9785; Please try again.
								</div>
								
								<div id="login-form" ng-if="activeTab === 'LOGIN'">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value=""
										       ng-model="$parent.login_username" ng-change="checkUser($parent.login_username, activeTab)" ng-disabled="videoOn"
										       ng-keypress="$event.which === 13 && !videoOn && !buttonDisabled && openVideo(true)">
									</div>
									<div class="form-group" ng-if="!videoOn">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-start" id="login-start" tabindex="4" class="form-control btn btn-login" value="Log In"
												       ng-click="openVideo(true)" ng-disabled="buttonDisabled">
											</div>
										</div>
									</div>
									<div ng-if="videoOn">
										<div class="form-group">
											<div style="width:320px;height:240px;margin:0 auto">
												<span style="position:absolute;margin:0;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);">
													<webcam channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>
												</span>
												<span id="scaryface" style="position:absolute;margin:0;width:100%;height:100%;opacity:0.7;"></span>
												<canvas id="snapshot" style="position:absolute;margin:0;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);"></canvas>
											</div>
											<div class="alert alert-error" ng-show="webcamError">
												<span>Webcam could not be started. Did you give access to it?</span>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" id="login-snapshot" tabindex="4" class="form-control btn btn-register"
													       ng-value="(snapshotTaken) ? 'Retake' : 'Take Snapshot!'" ng-click="makeSnapshot()" ng-disabled="!videoLoaded || submitDisabled">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Submit"
														   ng-click="doLogin()" ng-disabled="!snapshotTaken || submitDisabled">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="register-form" ng-if="activeTab === 'REGISTER'">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Select a username..." value=""
										       ng-model="$parent.register_username" ng-change="checkUser($parent.register_username, activeTab)" ng-disabled="videoOn"
										       ng-keypress="$event.which === 13 && !videoOn && !buttonDisabled && openVideo(false)">
									</div>
									<div class="form-group" ng-if="!videoOn">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-start" id="register-start" tabindex="4" class="form-control btn btn-register" value="Register"
												       ng-click="openVideo(false)" ng-disabled="buttonDisabled">
											</div>
										</div>
									</div>
									<div ng-if="videoOn">
										<div class="form-group">
											<div style="width:320px;height:240px;margin:0 auto">
												<span style="position:absolute;margin:0;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);">
													<webcam channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>
												</span>
												<canvas id="snapshot" style="position:absolute;margin:0;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);"></canvas>
											</div>
											<div class="alert alert-error" ng-show="webcamError">
												<span>Webcam could not be started. Did you give access to it?</span>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" id="register-snapshot" tabindex="4" class="form-control btn btn-login"
													       ng-value="(snapshotTaken) ? 'Retake' : 'Take Snapshot!'" ng-click="makeSnapshot()" ng-disabled="!videoLoaded || submitDisabled ">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Submit"
														   ng-click="doRegister()" ng-disabled="!snapshotTaken || submitDisabled">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/ng-template" id="spinner.html">
		<img src="img/loader.svg"
		     style="margin: auto; position: absolute; top: 0; bottom: 0; left: 0; right: 0; user-drag: none; -moz-user-select: none; -webkit-user-drag: none;" />
	</script>
</body>
</html>
