<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Face Authenticator</title>

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
	<script src="lib/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="lib/webcam/webcam.min.js"></script>

	<script src="js/main.js"></script>
	<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" ng-class="{'active': activeTab === 'LOGIN'}" id="login-form-link" ng-click="showLoginTab()">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" ng-class="{'active': activeTab === 'REGISTER'}" id="register-form-link" ng-click="showRegisterTab()">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div id="login-form" ng-if="activeTab === 'LOGIN'">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value=""
										       ng-model="$parent.login_username" ng-change="checkUser($parent.login_username, activeTab)" ng-disabled="videoOn">
									</div>
									<div class="form-group" ng-if="!videoOn">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-start" id="login-start" tabindex="4" class="form-control btn btn-login" value="Log In"
												       ng-click="openVideo()" ng-disabled="buttonDisabled">
											</div>
										</div>
									</div>
									<div ng-if="videoOn">
										<div class="form-group">
											<div style="width:320px;height:240px;margin:0 auto">
												<span style="position:absolute;margin:0;">
													<webcam channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>
												</span>
												<canvas id="snapshot" style="position:absolute;margin:0;"></canvas>
											</div>
											<div class="alert alert-error" ng-show="webcamError">
												<span>Webcam could not be started. Did you give access to it?</span>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" id="login-snapshot" tabindex="4" class="form-control btn btn-register"
													       ng-value="(snapshotTaken) ? 'Retake' : 'Take Snapshot!'" ng-click="makeSnapshot()" ng-disabled="!videoLoaded">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Submit"
														   ng-click="doLogin()" ng-disabled="!snapshotTaken">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="register-form" ng-if="activeTab === 'REGISTER'">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Select a username..." value=""
										       ng-model="$parent.register_username" ng-change="checkUser($parent.register_username, activeTab)" ng-disabled="videoOn">
									</div>
									<div class="form-group" ng-if="!videoOn">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-start" id="register-start" tabindex="4" class="form-control btn btn-register" value="Register"
												       ng-click="openVideo()" ng-disabled="buttonDisabled">
											</div>
										</div>
									</div>
									<div ng-if="videoOn">
										<div class="form-group">
											<div style="width:320px;height:240px;margin:0 auto">
												<span style="position:absolute;margin:0;">
													<webcam channel="channel" on-stream="onStream(stream)" on-streaming="onSuccess()" on-error="onError(err)"></webcam>
												</span>
												<canvas id="snapshot" style="position:absolute;margin:0;"></canvas>
											</div>
											<div class="alert alert-error" ng-show="webcamError">
												<span>Webcam could not be started. Did you give access to it?</span>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" id="register-snapshot" tabindex="4" class="form-control btn btn-login"
													       ng-value="(snapshotTaken) ? 'Retake' : 'Take Snapshot!'" ng-click="makeSnapshot()" ng-disabled="!videoLoaded">
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Submit"
														   ng-click="doRegister()" ng-disabled="!snapshotTaken">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
